<div style="border: red 1px solid; padding: 10px;">
  <h1>passport-demo</h1>
  <div>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a ng-if="!vm.currentUser.user" href="/login">Login</a>
    <a ng-if="!vm.currentUser.user" href="/register">Register</a>
    <button ng-click="vm.logout()">Logout</button>
  </div>
  <hr />
  <div ng-if="vm.currentUser.user.username">
    <pre>{{vm.currentUser | json:4}}</pre>
    <h3>Current user: {{vm.currentUser.user.username}}</h3>
  </div>
</div>
<ui-view></ui-view>
